<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:build="http://schemas.microsoft.com/developer/appx/2012/build" IgnorableNamespaces="build">
  <Identity Name="44277greenbizkit33.PhotoColorFinder" Version="1.1.0.2" Publisher="CN=8F6A0F10-E6BD-4DB0-8B3F-1272D1F47666" />
  <Properties>
    <DisplayName>Photo Color Finder</DisplayName>
    <PublisherDisplayName>greenbizkit33</PublisherDisplayName>
    <Logo>images\splash_ic_med.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Photo Color Finder" Description="Find a color inside a photo." ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\splash_ic_large.png" Square30x30Logo="images\splash_ic_small.png">
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#9FB6D6" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <build:Metadata>
    <build:Item Name="Blend" Version="12.0.50429.0" />
  </build:Metadata>
</Package>